@inherits SpacedRepetitionSystem.Components.CustomComponentBase

@if (Visible)
{
  <div class="d-flex justify-content-center align-items-center waitSpinnerContainer @Class" style="@Style" id="@Id">
    <div class="spinner-border waitSpinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
}
else
{
  @ChildContent
}

<style>
  .waitSpinnerContainer {
    height: 100%;
    width: 100%;
  }

  .waitSpinner {
    width: 7rem;
    height: 7rem;
  }
</style>

@code
{
  /// <summary>
  /// Wether the wait spinner is visible
  /// </summary>

  [Parameter]
  public bool Visible { get; set; }

  /// <summary>
  /// ChildContent
  /// </summary>
  [Parameter]
  public RenderFragment ChildContent { get; set; }
}
