@inherits LayoutComponentBase
@using SpacedRepetitionSystem.Components.Modals;

<AuthorizeView>
  <Authorized>
    <div class="main d-flex flex-column">
      <TopBar IsLoggedIn="true"></TopBar>
      <div class="row d-flex flex-row flex-grow-1" style="padding: unset !important; margin: unset !important;">
        <div class="sidebar flex-colum d-flex" style="padding-left: unset !important; height: unset !important">
          <NavMenu />
        </div>
        <div class="col content px-4 mb-4 flex-grow-1 d-flex flex-column main-layout">
          @Body
        </div>
      </div>
    </div>
  </Authorized>
  <NotAuthorized>
    <div class="main d-flex flex-column">
      <TopBar IsLoggedIn="false"></TopBar>
      <div class="col content px-4 mb-4 flex-grow-1 d-flex flex-column">
        @Body
      </div>
    </div>
  </NotAuthorized>
</AuthorizeView>
<ModalDialog/>

<style>
  .main-layout {
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 250px);
  }

  @@media (max-width: 1200px) {
    .sidebar {
      display: none !important;
    }

    .main-layout {
      max-width: 100vw;
      padding: 0px;
      margin: 0px;
    }
  }
</style>