<div class="vertical-nav bg-dark" id="sidebar">
  <div class="px-3 bg-dark" style="height: 3.5rem; padding: 1rem; margin-bottom: 1rem; background: #1d2024!important;">
    <div class="media d-flex align-items-center">
      <div class="media-body text-white" style="padding-left: 1rem">
        <h5 class="m-0">Repetition System</h5>
      </div>
    </div>
  </div>

  <p class="text-white font-weight-bold text-uppercase px-3 small mb-0">Main</p>

  <ul class="nav flex-column bg-dark" mb-0">
    <li class="nav-item">
      <a href="Home" class="nav-link text-white bg-dark">
        <i class="mr-3 text-primary fa-fw"></i>
        Home
      </a>
    </li>
  </ul>

  <p class="text-white font-weight-bold text-uppercase px-3 small mb-0">Decks</p>

  <ul class="nav flex-column bg-dark" mb-0">
    <li class="nav-item">
      <a href="Decks/New" class="nav-link text-white bg-dark">
        <i class="mr-3 text-primary fa-fw"></i>
        Add Deck
      </a>
    </li>
    <li class="nav-item">
      <a href="Decks" class="nav-link text-white bg-dark">
        <i class="mr-3 text-primary fa-fw"></i>
        Search Decks
      </a>
    </li>
  </ul>

  <p class="text-white font-weight-bold text-uppercase px-3 small mb-0">Cards</p>

  <ul class="nav flex-column bg-dark" mb-0">
    <li class="nav-item">
      <a href="Cards" class="nav-link text-white bg-dark">
        <i class="mr-3 text-primary fa-fw"></i>
        Search Cards
      </a>
    </li>
    <li class="nav-item">
      <a href="/Templates/New" class="nav-link text-white bg-dark">
        <i class="mr-3 text-primary fa-fw"></i>
        Add Template
      </a>
    </li>
    <li class="nav-item">
      <a href="/Templates" class="nav-link text-white bg-dark">
        <i class="mr-3 text-primary fa-fw"></i>
        Search Templates
      </a>
    </li>
  </ul>
</div>

<style>
  .vertical-nav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }

</style>

@code 
{
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}