@using SpacedRepetitionSystem.Utility.Notification;

@inherits SpacedRepetitionSystem.Components.CustomComponentBase
@implements INotificationProvider

@if (AlertVisible)
{
  <div class="@alertClass"
       style="@Style"
       id="@Id"
       role="alert">
    @Message
    <button type="button" class="close" @onclick="ResetNotification">
      <span>&times;</span>
    </button>
  </div>
}

<style>
  .bottomBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
  }
</style>

@code
{
  private string alertClass;

  /// <summary>
  /// Whether the alert is visble
  /// </summary>
  public bool AlertVisible { get; set;}

  /// <summary>
  /// The css class for the alert
  /// </summary>
  public string AlertClass { get; set; }

  /// <summary>
  /// The message
  /// </summary>
  public string Message { get; set; }

  ///<inheritdoc/>
  public void NotifyMessage(NotificationKind notificationKind, string message)
  {
    Message = message;
    switch (notificationKind)
    {
      case NotificationKind.SuccessNotification:
        alertClass = "alert alert-success bottomBar " + Class;
        AlertVisible = true;
        break;
      case NotificationKind.InformationNotification:
        alertClass = "alert alert-info bottomBar " + Class;
        AlertVisible = true;
        break;
      case NotificationKind.WarningNotification:
        alertClass = "alert alert-warning bottomBar " + Class;
        AlertVisible = true;
        break;
      case NotificationKind.ErrorNotification:
        alertClass = "alert alert-danger bottomBar " + Class;
        AlertVisible = true;
        break;
      default:
        ResetNotification();
        break;
    }
    NotifyStateChanged();
  }

  ///<inheritdoc/>
  public void ResetNotification()
  {
    if (AlertVisible)
    {
      AlertVisible = false;
      alertClass = null;
      Message = null;
      NotifyStateChanged();
    }
  }

  ///<inheritdoc/>
  protected override void OnInitialized()
  {
    base.OnInitialized();
    NotificationMessageProvider.Initialize(this, 5000);
  }
}