@page "/Decks/{DeckId:long}/Cards/New"
@page "/Decks/{DeckId:long}/Cards/{Id:long}"

@using SpacedRepetitionSystem.Entities.Entities.Cards;
@using SpacedRepetitionSystem.Components.ViewModels.Cards;
@using SpacedRepetitionSystem.Components.Interaction;
@using SpacedRepetitionSystem.Components.Edits;
@using SpacedRepetitionSystem.Components.ViewModels;
@using SpacedRepetitionSystem.Components.Containers;

@inherits EditPageBase<SpacedRepetitionSystem.Entities.Entities.Cards.Card, CardEditViewModel>

<ViewModelArea ViewModel="ViewModel">
  <TabCard Title="@ViewModel?.Entity?.GetDisplayName()" IsLoading="@IsLoading">
    <CardTabs>
      <CardTab Title="Main">
        <h5 class="card-title">Main Properties</h5>
        <DropDownEdit Caption="Template" Property="ViewModel.CardTemplateTitleProperty" SelectableValues="ViewModel.AvailableCardTemplates"></DropDownEdit>

        <h5 class="card-title">Fields</h5>
        @foreach (CardField field in ViewModel.Fields)
        {
          <TextEdit Caption="@field.FieldName" @bind-Value="field.Value"></TextEdit>
        }
        <h5 class="card-title">Tags</h5>
        <TagEdit Tags="ViewModel.Tags"></TagEdit>
      </CardTab>
    </CardTabs>
    <HeaderButtons>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle dropdown-no-text mr-1" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 5px; padding-bottom: 0px;"/>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
          <Button Command="@ViewModel?.DeleteCommand" Class="dropdown-item"></Button>
          <Button Command="@ViewModel?.SaveChangesCommand" Class="dropdown-item"></Button>
          <Button Command="@ViewModel?.ShowStatisticsCommand" Class="dropdown-item"></Button>
        </div>
      </div>
      <Button Command="@ViewModel?.CloseCommand" IsIconButton="true" TextColor="#e74c3c"></Button>
    </HeaderButtons>
    <CardFooter>
      <div class="d-flex justify-content-end">
        <Button Class="btn-primary btn-lg" Command="ViewModel.SaveChangesCommand"></Button>
      </div>
    </CardFooter>
  </TabCard>
</ViewModelArea>

@code
{
  /// <summary>
  /// Id of the deck
  /// </summary>
  [Parameter]
  public long DeckId { get; set; }

  ///<inheritdoc/>
  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    ViewModel.DeckId = DeckId;
  }
}