@page "/Cards/{Id:long}"
@page "/Cards/New"
@page "/Decks/{DeckId:long}/Cards/New"
@page "/Decks/{DeckId:long}/Cards/{Id:long}"

@using SpacedRepetitionSystem.Entities.Entities.Cards;
@using SpacedRepetitionSystem.Components.ViewModels.Cards;
@using SpacedRepetitionSystem.Components.Interaction;
@using SpacedRepetitionSystem.Components.Edits;
@using SpacedRepetitionSystem.Components.ViewModels;

@inherits EditPageBase<Card, CardEditViewModel>

<ViewModelArea ViewModel="ViewModel">
  <div class="card flex-grow-0 fullsizeCard">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-auto">
          @ViewModel?.Entity?.GetDisplayName()
        </div>
        <div class="col">
          <ul class="nav nav-tabs card-header-tabs pull-left" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab" aria-controls="main" aria-selected="true">Main</a>
            </li>
          </ul>
        </div>
        <div class="col d-flex justify-content-end">
          <Button Command="@ViewModel?.DeleteCommand" IsIconButton="true" TextColor="black" Style="margin-top: 1px; margin-right: 10px"></Button>
          <Button Command="@ViewModel?.CloseCommand" IsIconButton="true" TextColor="#e74c3c"></Button>
        </div>
      </div>
    </div>
    <WaitSpinner Visible="IsLoading">
      <div class="card-body scrollable">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="home-tab">
            <h5 class="card-title">Main Properties</h5>
            <DropDownEdit Caption="Template" Property="ViewModel.CardTemplateTitleProperty" SelectableValues="ViewModel.AvailableCardTemplates"></DropDownEdit>

            <h5 class="card-title">Fields</h5>
            @foreach (CardField field in ViewModel.Fields)
            {
              <TextEdit Caption="@field.FieldName" @bind-Value="field.Value"></TextEdit>
            }
            <h5 class="card-title">Tags</h5>
            <TagEdit Tags="ViewModel.Tags"></TagEdit>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <Button Class="btn-primary btn-lg" Command="ViewModel.SaveChangesCommand"></Button>
        </div>
      </div>
    </WaitSpinner>
  </div>
</ViewModelArea>

<style>
</style>

@code
{
  /// <summary>
  /// Id of the deck
  /// </summary>
  [Parameter]
  public long? DeckId { get; set; }

  ///<inheritdoc/>
  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    ViewModel.DeckId = DeckId;
  }
}