@page "/Templates"

@using SpacedRepetitionSystem.Components.ViewModels;
@using SpacedRepetitionSystem.Entities.Entities.Cards;
@using SpacedRepetitionSystem.Components.ViewModels.Cards;
@using SpacedRepetitionSystem.Components.Interaction;

@inherits SearchPageBase<CardTemplate, CardTemplateSearchViewModel>

<ViewModelArea ViewModel="@ViewModel">
  <div class="card flex-grow-0 fullsizeCard">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-auto">
          Search Templates
        </div>
        <div class="col d-flex justify-content-end">
          <Button Command="@ViewModel?.CloseCommand" IsIconButton="true" TextColor="#e74c3c"></Button>
        </div>
      </div>
    </div>
    <div class="card-body scrollable">
      <WaitSpinner Visible="ViewModel.IsSearching">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">
                ID
              </th>
              <th class="th-sm">
                Title
              </th>
              <th class="th-sm">
                Field Count
              </th>
              <th class="th-sm buttonCol"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in ViewModel.SearchResults)
            {
              <tr>
                <td><a href="/Templates/@item.CardTemplateId">@item.CardTemplateId</a></td>
                <td>@item.Title</td>
                <td>@item.FieldDefinitions.Count</td>
                <th class="buttonCol">
                  <Button CommandParameter="item" Classes="colButton" TextColor="black" IsIconButton="true" Command="ViewModel.DeleteCommand"></Button>
                </th>
              </tr>
            }
          </tbody>
        </table>
      </WaitSpinner>
    </div>
  </div>
</ViewModelArea>

@code
{
  ///<inheritdoc/>
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    await ViewModel.Search();
  }
}
