@page "/Decks/{Id:long}"
@page "/Decks/New"

@using SpacedRepetitionSystem.Entities.Entities.Cards;
@using SpacedRepetitionSystem.Components.ViewModels.Cards;
@using SpacedRepetitionSystem.Components.Interaction;
@using SpacedRepetitionSystem.Components.Edits;
@using SpacedRepetitionSystem.Components.ViewModels;
@using SpacedRepetitionSystem.Components.Containers

@inherits EditPageBase<Deck, DeckEditViewModel>

<ViewModelArea ViewModel="ViewModel">
  <TabCard Title="@ViewModel?.Entity?.GetDisplayName()" IsLoading="@IsLoading">
    <CardTabs>
      <CardTab Title="Main">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="home-tab">
            <h5 class="card-title">Main Properties</h5>
            <TextEdit Caption="Title" Property="ViewModel.TitleProperty"></TextEdit>
            <DropDownEdit Caption="Template" Property="ViewModel.CardTemplateTitleProperty" SelectableValues="ViewModel.AvailableCardTemplates"></DropDownEdit>
          </div>
        </div>
      </CardTab>
    </CardTabs>
    <HeaderButtons>
      <Button Command="@ViewModel?.DeleteCommand" IsIconButton="true" TextColor="black" Style="margin-top: 1px; margin-right: 10px"></Button>
      <Button Command="@ViewModel?.CloseCommand" IsIconButton="true" TextColor="#e74c3c"></Button>
    </HeaderButtons>
    <ChildContent>
      <div class="d-flex justify-content-end">
        <Button Class="btn-primary btn-lg" Command="ViewModel.SaveChangesCommand"></Button>
      </div>
    </ChildContent>
  </TabCard>
</ViewModelArea>

@code
{
}