@page "/Decks"

@using SpacedRepetitionSystem.Components.ViewModels;
@using SpacedRepetitionSystem.Entities.Entities.Cards;
@using SpacedRepetitionSystem.Components.ViewModels.Cards;
@using SpacedRepetitionSystem.Components.Interaction;

@inherits SearchPageBase<Deck, DeckSearchViewModel>

<ViewModelArea ViewModel="@ViewModel">
  <div class="card flex-grow-0 fullsizeCard">
    <div class="card-header">
      Search Decks
    </div>
    <div class="card-body scrollable">
      <WaitSpinner Visible="ViewModel.IsSearching">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">
                ID
              </th>
              <th class="th-sm">
                Name
              </th>
              <th class="th-sm">
                Cards
              </th>
              <th class="th-sm buttonCol"></th>
              <th class="th-sm buttonCol"></th>
              <th class="th-sm buttonCol"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in ViewModel.SearchResults)
            {
            <tr>
              <td><a href="/Decks/@item.DeckId">@item.DeckId</a></td>
              <td>@item.Title</td>
              <td>@item.CardCount</td>
              <td class="buttonCol">
                <Button CommandParameter="item.DeckId" Classes="colButton" TextColor="#1b6ec2" IsIconButton="true" Command="ViewModel.PracticeDeckCommand"></Button>
              </td>
              <td class="buttonCol">
                <Button CommandParameter="item.DeckId" Classes="colButton" TextColor="#27ae60" IsIconButton="true" Command="ViewModel.AddCardsCommand"></Button>
              </td>
              <td class="buttonCol">
                <Button CommandParameter="item" Classes="colButton" TextColor="black" IsIconButton="true" Command="ViewModel.DeleteCommand"></Button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </WaitSpinner>
    </div>
  </div>
</ViewModelArea>

@code
{
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    await ViewModel.Search();
  }
}
